.content-block {
  padding-top: 60px;

  &--intro {
    background: url(../img/main/layer.jpg) 0 340px / cover no-repeat;
  }

  &--bg {
    background: url(../img/main/layer.jpg) / contain repeat;
  }
}
