.plan {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding-bottom: 30px;
}

.plan__img {
  min-height: 340px;
  margin-bottom: 30px;

  @include desktop {
    min-height: 0;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.plan__text {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.plan__controls {
  text-align: center;
  margin-top: auto;
}
