.range {
  background: linear-gradient(to bottom, transparent 25%, #fff 25% 100%);
  padding: 0 30px 40px 30px;
  display: flex;
  flex-direction: column;
}

.range__img {
  position: relative;
  padding-bottom: 100%;
  margin-bottom: 20px;

  @include laptop {
    padding-bottom: 70%;
  }

  & img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.range__table {
  width: 100%;
}

.range__table-row {
  padding-bottom: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed $darkGrey;

  &:last-child {
    border: none;
  }
}

.range__table-num {
  color: $blue;
  font-weight: $boldFont;
  flex-shrink: 0;
}
