@font-face {
  font-family: "Museo Cyrl";
  src: url("../fonts/MuseoCyrl-700.woff") format("woff"),
    url("../fonts/MuseoCyrl-700.woff2") format("woff2");
  font-weight: $boldFont;
  font-style: normal;
}
