//Переменные цвета
$blue: #4d59a1;
$darkBlue: #2f3a81;
$orange: #ff5f01;
$grey: #e6e6e6;
$darkGrey: #a7a7a7;

//Переменные начертания
$regularFont: 400;
$mediumFont: 600;
$boldFont: 700;

//Переменные размера дисплея
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;
